@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.885);
  border-radius: 10px;
  width: 350px;
  height: 350px;
  font-family: "Press Start 2P", cursive;
  color: white;
  line-height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .game {
    h1 {
      margin: 0;
    }
    .gameOver {
      display: none;
    }
  }

  button {
    font-family: "Press Start 2P", cursive;
    padding: 0.5rem;
    cursor: pointer;
  }
  button:hover {
    background-color: #00ff41;
  }

  #container-level button {
    border-radius: 5px;
    border: 0;
    padding: 0.5rem 1rem;
  }
}

ul {
  transition: opacity 0.5s ease 0s;
}

.big-block {
  max-width: 500px;
}

input {
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

#container-level {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

#container-level button:hover {
  cursor: pointer;
}

.activeBtn {
  background-color: #00ff41;
}

#cancel-timer {
  margin-top: 2rem;
}

#game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showAndHide-content {
  font-size: 10px;
}

@media screen and (max-width: 400px) {
  .game-container {
    width: 300px;
  }
}
@media screen and (max-width: 750px) {
  .game-container {
    width: 300px;
  }
}
