@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 2rem;
  width: auto;
  ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

li:hover {
  cursor: pointer;
}

section {
  height: 100vh;
  background-color: #51ad8f;
}

.first__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgb(82, 173, 143);

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 5rem;

    h1 {
      margin: 0;
      font-size: 7rem;
      color: #ffffffcc;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }
  }
}

.about__page,
.portfolio__page {
  background-color: rgba(0, 0, 0, 0.123);
}

.about__page {
  height: auto;
  .content__container {
    margin: 0 auto;
    padding: 5rem 0;
    width: 50vw;
  }
  .content__presentation {
    width: fit-content;
    margin: 5rem 0;

    // flip card
    .flip-card {
      background-color: transparent;
      width: 350px;
      height: 350px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(-180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    /* Style the back side */
    .flip-card-back {
      background-color: rgb(82, 173, 143);
      transform: rotateY(180deg);
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      h1 {
        font-size: 1.5rem;
        color: white;
      }
    }

    // slides skills backside
    .card {
      height: 100px;
      border-radius: 10px;
      display: flex;
      padding: 0 5px;
    }

    .card p {
      font-size: 0.8rem;
      height: 50%;
      flex: 1;
      overflow: hidden;
      cursor: pointer;

      transition: all 0.5s;
      background: rgba(0, 0, 0, 0.2);
      border: 0.5px solid rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card p:hover {
      flex: 4;
    }

    .card p span {
      width: 150px;
      text-align: center;
      transform: rotate(-90deg);
      transition: all 0.5s;
      text-transform: uppercase;
      color: white;
    }

    .card p:hover span {
      transform: rotate(0);
    }

    img {
      width: 350px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    h1 {
      margin: 0;
      font-size: 2.5rem;
      color: rgba(0, 0, 0, 0.827);
    }
    p {
      font-size: 1.5rem;
      font-weight: bolder;
      word-spacing: 0.4rem;
      color: rgba(0, 0, 0, 0.721);
    }
  }
}
.portfolio__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  .content__portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
    gap: 3rem;
    margin-bottom: 5rem;

    .fake_coffee {
      width: 450px;
      height: 345px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;

      img {
        cursor: pointer;
        width: 100%;
        transition: transform 0.8s;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

footer {
  height: 20vh;
  background-color: #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
  }
  a:hover {
    transform: scale(3);
    font-weight: bolder;
  }
}

@media screen and (max-width: 400px) {
  nav {
    padding: 0;
    justify-content: center;
    h1 {
      display: none;
    }
    ul {
      padding: 0;
      li {
        font-size: 1rem;
      }
    }
  }
  .first__page {
    .content {
      text-align: center;
      padding: 0 5px;
      h1 {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  nav {
    justify-content: center;
    padding: 0;
    h1 {
      display: none;
    }
    ul {
      padding: 0;

      li {
        font-size: 1rem;
      }
    }
  }
  .first__page {
    .content {
      text-align: center;
      padding: 0 5px;
      h1 {
        margin: 0;
      }
    }
  }
  .about__page {
    .content__container {
      text-align: center;
      margin: 0 auto;
      width: 90vw;
      .content__presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 250px;
        }
        .flip-card {
          width: 250px;
          height: 250px;
        }
        .card {
          height: 75px;
          p {
            font-size: 0.6rem;
          }
        }
      }

      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .portfolio__page {
    .content__portfolio {
      .fake_coffee {
        width: 364px;
        height: 280px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .first__page {
    .content {
      justify-content: center;
    }
  }
  footer {
    padding: 0 1.5rem;
  }
}
